.DS_Store
node_modules
day5/playground.js
day5/stick_figure.css
day5/stick_figure.html
wk2_dy1_dom/index.html
wk2_dy1_dom/script.js
wk2_dy1_dom/styles.css
wk2_dy2_dom_game
wk2_dy2_dom_events/class
week02/flexbox/flexbox_encounter
