.container {
    width: 600px;
    height: 450px;
    position: relative;
    margin: 0;
    padding: 0;
    border: solid 1px red;
    overflow: hidden;
}

.top,
.bottom {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

img {
    height: 450px;
    width: 600px;
}

#top {
    z-index: 100;
    overflow: hidden;
    width: 50%;
    border: dotted 1px green;
}

.bar {
    height: 100%;
    position: absolute;
    left: 50%;
    background: white;
    width: 2%;
    z-index: 101;
    border: dotted 1px gray;
}
