<div class="navigation">
    <div class="partial">
        <h3>Other projects: </h3>
        <ul>
            {{#projectsAll}}
                <li><a href="/{{.}}/description">{{.}}</a></li>
            {{/projectsAll}}
        </ul>
    </div>
</div>
