#exercise1 {
    /* position: relative;
    display: inline-block; */
    background: lightgray;
}

/* #exercise3 {
    position: relative;
    display: inline-block;
    background: lightgray;
} */

.text {
    display: inline-block;
    width: 100%;
    height: 100px;
    /* text-decoration: underline; */
}
