.container {
  width: 600px;
  height: 450px;
  position: relative;
}

.top, .bottom {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
}

#top {
    z-index: 100;
    overflow: hidden;
    width: 50%;
}

img {
  height: 450px;
  width: 600px;
}

.bar {
  height: 100%;
  position: absolute;
  left: 50%;
  background-color: white;
  width: 10px;
  border: 2px solid black;
}
