{{> nav }}
<div class="view">
    <h2>{{projectName}}</h2>
    <p>{{projectDescription}}</p>
    <a href = "./index.html" target="_blank"><img src="./screenshot.png" alt=""></a>
    <p> Click on image to open the project </p>
</div>
