<div class="view">
    <div class = "welcome">
        <h1>WELCOME TO MY PORFOLIO SITE</h1>
        <h2>Projects:</h2>
        {{#projects}}
            <a href="/{{name}}">{{name}}</a>
        {{/projects}}
    </div>
</div>
