* {
    padding: 0;
    margin: 0;
}

body {
    filter: brightness(80%);
}

.Banner {
    position: relative;
    padding: 20px 10px;
    height: 100px;

}

.hamburgermenu img {
    position: absolute;
    left: 85%;
    height: 70%;
    width: 20%;
}

.logo img {
    position: absolute;
    height: 70%;
    width: 20%;
}

.reichstag {
    background-image: url("./assets/reichstag.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    height: 900px;
    width: 100%;
}

.reichstag h1 {
    font-family: Arial, sans-serif;
    font-size: 48px;
    font-style: italic;
    letter-spacing: 0.5px;
    color: white;
    text-align: center;
    position: absolute;
    left: 22%;
    top: 50%;
}

.button {
    font-family: Arial, sans-serif;
    font-size: 33px;
    font-weight: bold;
    text-decoration: none;
    color: #FF8C00;
    background-color: #FFD700;
    border: 3px #FF8C00 solid;
    padding: 8px 96px;
    border-radius: 30px;
    position: absolute;
    width: 13%;
    left: 38%;
    top: 60%;
}

.table {
    background-color: lightgray;
    list-style: none;
    height: 550px;
    width: 100%;
    padding-top: 153px;
}

.column {
    font-family: serif, sans-serif;
    height: 130px;
    width: 40%;

    padding-left: 100px;
    display: inline-block;
}

.column img {
    height: 85px;
    width: 100px;
    float: left;
    padding: 0 30px 50px 30px;
    margin: 0 auto;
}

.column h2 {
    margin: 0 auto;
    padding-left: 90px;
    text-align: left;
}

.column p {
    font-size: 23px;
    margin: 0 auto;
    padding-left: 90px;
    text-align: left;

}

footer {
    background-color: gray;
    height: 70px;
}

footer p {
    color: white;
    font-size: 29px;
    padding-left: 80px;
    padding-top: 15px;
}

@media screen and (max-width: 640px) {
    .reichstag {
        height: 300px;
    }

    .reichstag h1{
        text-align: center;
        font-size: 12px;
    }

    .button {
        text-align: center;
        font-size: 15px;
        width: 5%;
        position: relative;
        padding: 2px 15px;
        left: 5%;
    }

    .table {
        height: 320px;
        overflow: scroll;
    }

    .column {
        display: inline;
}

    .column img {
        display: inline-block;
    }

    .column h2 {
        margin: 0 auto;
        display: block;

    }

    .column p {
        margin-left: 70px;
        display: block;
    }

    footer {
        height: 30px;
    }

    footer p {
        text-align: center;
        font-size: 15px;
        padding: 5px 15px;

    }
}
