* {
    box-sizing: border-box;
}
#container {
    display: flex;
    height: 100vw;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

#board {
    display: flex;
}

.column {
    border: 1px dashed gray;
    border-right: none;
}
.column:last-child {
    border-right: 1px dashed gray;
}

.slot {
    border-bottom: 1px dashed gray;
}
.slot:last-child {
    border-bottom: none;
}

.slot {
    width: 100px;
    height: 100px;
    padding: 10px;
}

.hole {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
}

.slot.player1red .hole {
    background-color: red;
}

.slot.player2green .hole {
    background-color: green;
}

#modal_container {
    position: absolute;
    display: inline-grid;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: 3;
    align-items: center;
    justify-content: center;
    border: dashed 1px gray;
    visibility: hidden;
    transition: all 2s;
}
#modal_container.on {
    visibility: visible;
}
#text_container {
    position: relative;
}

h1 {
    text-align: center;
    font-size: 48px;
    color: white;
    font-family: "Helvetica";
    margin: 0 auto;
    padding: 0px;
}

#message {
    color: white;
    font-size: 10px;
    font-family: "Helvetica";
    overflow-wrap: break-word;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding: 0px;
    visibility: hidden;
    transition: all 2s;
}
#message.on {
    visibility: visible;
}

#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 2;
    visibility: hidden;
}

#overlay.on {
    visibility: visible;
}
