.container {
    display: flex;
    flex-direction: column;
    width: 75vw;
    height: auto;
    margin: 0 auto;
}

.card {
    margin: 20px auto;
    display: flex;
    background: lightgray;
    width: 100%;
    align-items: center;
}

.left-pane {
    width: 30%;
    padding: 10px;
}

.right-pane {
    width: 70%;
    padding: 20px;
}
.card img {
    width: 200px;
    height: 300px;
    object-fit: cover;
}
