/*
Create an HTML document with three elements in the <body> tag: a <header> element,
a <main> element, and a <footer> element. The <body> should be made a flex container
and have its min-height set to 100vh so it fills the browser window.
The <header> element should have a solid background color and be 70 pixels tall.
The <footer> element should have a solid background color and be 30 pixels tall.
The <main> element should fill the remainder of the available space.
*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    height: 70px;
    background: orange;
}

footer {
    height: 30px;
    background: pink;
}

main {
    flex: 1;
    /* border: 1px solid red; */
}
