* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
    box-sizing: border-box;
    margin: 0;
}

.layout {
    /* border: 5px solid red;
    margin: 8px;
    padding: 8px; */
}

.view {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    /* border: 5px solid green;
    margin: 8px;
    padding: 8px; */
}

.partial {
    /* border: 5px solid blue;
    margin: 8px;
    padding: 8px; */
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid gray;
    border-radius: 10px;
    width: 60%;
    padding: 10px;
}
.welcome h1 {
    font-weight: lighter;
}

.welcome h2 {
    font-weight: lighter;
}

.welcome a {
    font-size: 20px;
    font-weight: normal;
}

.view {
    width: 50%;
    /* align-content: center; */
    text-align: center;
}

img {
    width: 80%;
    object-fit: cover;
    cursor: pointer;
}
