<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>My Portfolio website</title>
        <link rel="stylesheet" href="/stylesheet.css">
    </head>
    <body>
        <div class="layout">
            <!-- {{> nav }} -->
            {{{ body }}}
        </div>
    </body>
</html>
